* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} body {
  color: #f2f2f2;
  background: #021526;
  font: 16px 'Roboto Slab', serif;

  main {
    display: flex;
    flex-direction: row;
    
    overflow: hidden;    
  }

  button {
    cursor: pointer;
  }
}