* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} body {
  width: 100vw;
  height: 100vh;

  color: #121214;
  font: 16px "Helvetica Neue", Arial, sans-serif;

  button {
    cursor: pointer;
  }
}