* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} body {
  color: #383B73;
  background: #0D0E26;
  font: 16px 'Roboto Slab', serif;

  main {
    display: flex;
    flex-direction: row;
  }

  button {
    cursor: pointer;
  }
}