aside.repository-list {
  position: relative;

  width: 35%;
  height: 100vh;  
  overflow: hidden;  
  background: #021526;

  div.repository-list-wrapper {
    position: absolute;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    overflow-y: auto;    
    
    width: 100%;
    height: 100%;

    top: 0px;
    left: 0px;

    scrollbar-width: thin;
    scrollbar-color: rgba(80, 171, 191, .7) rgba(2, 21, 38, .7);

    &::-webkit-scrollbar {
      width: .4rem;
      height: .4rem;
      margin-left: .5rem;
    }

    &::-webkit-scrollbar-corner {
      background-color: #021526;
    }

    &::-webkit-scrollbar-thumb {
      cursor: move;      
      border-radius: 2px;
      background-color: #50ABBF;
    }

    &::-webkit-scrollbar-track {      
      background: rgba(2, 21, 38, .7);
    }

    h2 {
      padding-top: 1rem;      
      padding-bottom: 1rem;
      margin-left: 6.125rem;
  
      color: #F2F2F2;
      font-size: 3rem;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }
      
    ul {
      list-style: none;
    }
  }
}