div.date-container {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;

  width: 250px;
  height: 50px;
  margin-left: 1rem;
  border-radius: 15px;
  background: #383B73;  
  border: 1px ridge #fafafa;  
}